* {text-align: center}
table {margin: auto}
td {text-align: left}
h3 {color: #656F8C}
p span {color: #413659}
input[type='number']
{
    width: 200px;
    margin: auto;
    font-size: 18px;
    font-weight: bolder;
    color: #4B5572;
}
.arredondado
{
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
.bloco
{
    width: 95%;
    margin: 5px auto;
    padding: 5px;
    background-color: #E3E3E3;
    color: #555555;
}